In [ ]:
i=1
if i<=10:                   # if keyword , condition ,stop .
  print(i)
  i=i+1

1

In [ ]:
i=1                         # initialization, start
while i<=10:                # while keyword , condition , stop
  print(i)                  # print
  i=i+1 # positive step     # increment or decrement , step

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=1
while i<10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9

In [ ]:
i=10
while i>=1:
  print(i)
  i=i-1       # negative step

10
9
8
7
6
5
4
3
2
1

In [ ]:
i=10
while i>=1:
  if i%2==0:
    print(i)
  i=i-1

10
8
6
4
2

In [ ]:
i=1
while i<=10:
  if i%2==0:
    print(i)
  i=i+1

2
4
6
8
10

In [ ]:
i=10            # infinity loop
while i>=1:
  if i%2==0:
    print(i)

In [ ]:
name=''                         # annoying loop
while name!='shrikrishn':
  print('Enter your name ')
  name=input()
print('Hello, welcome....')

Enter your name
shrikrishn
Hello, welcome....

In [ ]:
i = 5
while (i >1):
  print (i)
  i= i-1

5
4
3
2

In [ ]:
for i in range(1,10,1):         # range(start : default is 0 , stop : compulsary , step : default is +1)
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(-1,-10,-1):
  print(i)

-1
-2
-3
-4
-5
-6
-7
-8
-9

In [ ]:
for i in range(11):
  if i%2==0:
    print(i)

0
2
4
6
8
10

In [ ]:
#Create a program to display the first 10 even numbers in reverse order in a single line using end parameter of print function.

for i in range(10,-1,-1):
  if i%2==0:
    print(i)

10
8
6
4
2
0

In [ ]:
for i in range(10,-1):
  if i%2==0:
    print(i)

In [ ]:
range(10)

range(0, 10)

In [ ]:
for i in range(10.00000001):    #'float' object cannot be interpreted as an integer
  print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
for i in range(7):
  if i==4:
    break
  print(i)

0
1
2
3

In [ ]:
for i in range(7):
  if i==4:
    continue
  print(i)

0
1
2
3
5
6

In [ ]:
for i in range(3):
  for j in range(3):
    print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [ ]:
for i in range (1, 5, 1):
  print (i)

1
2
3
4

In [ ]:
for i in range(5):
  print (i)

0
1
2
3
4

In [ ]:
'''Create a program that displays numbers starting from 20 to 40 with a difference of 5 in a single line
using end parameter of print function.'''

for a in range(20,41):
  if a % 5 ==0:
    print(a, end=",")

20,25,30,35,40,

In [ ]:
for a in range(20,41,5):
  print(a, end=",")

20,25,30,35,40,

In [ ]:
for a in range(0,11, +2):
  print(a)

0
2
4
6
8
10

In [ ]:
for i in range(1,6):
  if i == 4:
    break
  print (i)

1
2
3

In [ ]:
for i in range(1,7):
  if i ==3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
for i in range(1,7):
  if i ==3:
    continue
  print(i, end = ', ')

1, 2, 4, 5, 6,

In [ ]:
for i in range(4):
  for j in range(4):
    print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3

In [ ]:
i = 0
while i<=4:
  print(i)

In [ ]:
while True:               #infinite loop, use for without condition, because conditionn is always true.
  print('Hi')

In [ ]:
for i in range(20,0,-2):
  print (i,end=',')

20,18,16,14,12,10,8,6,4,2,

In [ ]:
i = 20
while i > 0:
  print (i, end =' , ')
  i-=2

20 , 18 , 16 , 14 , 12 , 10 , 8 , 6 , 4 , 2 ,

In [ ]:
for i in range(20,41,5):

   print(i,end = ',')

20,25,30,35,40,

In [ ]:
i =20
while i<41:
  print(i, end = ',')
  i+=5

20,25,30,35,40,

In [ ]:
for i in range(1, 6):
  print(i**3,end=',')

1,8,27,64,125,

In [ ]:
'''Create a program to display the cube of first 5 numbers in single line using end parameter of print function.
Note : Use both the loops.'''

i = 1
while i<6:
  print(i**3, end = ' , ')
  i+=1

1 , 8 , 27 , 64 , 125 ,

In [ ]:
#Create a program to display the factorial of a number.
# Solution using while loop and positive step value :
n = int(input('Enter any number greater than 0 to calculate its factorial : '))
fact = 1
for i in range(1,n+1):
  fact = fact * i
  print(f'factorial of {n} : {fact}')

Enter any number greater than 0 to calculate its factorial : 5
factorial of 5 : 1
factorial of 5 : 2
factorial of 5 : 6
factorial of 5 : 24
factorial of 5 : 120

In [ ]:
n = int(input('enter any number greater than 0 to calculate its factorial :'))
fact = 1
i = 1
while n >= i:
  fact = fact * i
  i = i + 1
print(f'factorial of {n} : {fact}')

enter any number greater than 0 to calculate its factorial :5
factorial of 5 : 120

In [ ]:
# Solution using while loop and negative step value :
n = int(input('enter any number greater than 0 to calculated its factorial : '))
fact = 1
i = n
while i > 0:
    fact = fact * i
    i = i - 1
print(f'Factorial of {n} : {fact}')

enter any number greater than 0 to calculated its factorial : 5
Factorial of 5 : 120

In [ ]:
n = int(input('Enter any number greater than 0 to calculated its factorial : '))
fact = 1
for i in range(n, 0, -1):
  fact = fact * i
print(f'factorial of {n} : {fact}')

Enter any number greater than 0 to calculated its factorial : 5
factorial of 5 : 120

In [ ]:
'''Create a program that keeps on accepting input from user until 0 is entered
and print the sum of all the numbers entered at the end.'''

number = ''
sum = 0
while number != 0:
  number = int(input('enter number : '))
  sum = number + sum
print ('Total sum', sum)

enter number :1
enter number :5
enter number :8
enter number :0
Total sum 14

In [ ]:
#Create a program to print the following series for 'n' terms where 'n' is the number taken from the user.

n = int(input('Enter the number uptill wll be series displayed : '))
for i in range(1, n):
  print ('2'*i, end=",")
print('2'*n)

Enter the number uptill wll be series displayed : 4
2,22,222,2222

In [ ]:
i = 6
while i < 17:
  if i % 5 == 0:
    print (i)
    break
  i = i + 1

10

In [ ]:
for i in range(6,16):
  if i % 5 == 0:
      print(i)
      break

10

In [ ]:
#Create a program that replicates the following output :

i = 2
#while i <= 4:     #Table upto ....
print(f'Multiplication Table : {i}')
j = 1
while j <= 10:
     print(f'{i} x {j} = {i * j}')
     j = j + 1
print('\t')
i = i + 1

Multiplication Table : 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
for i in range (2,3):
  print(f'Multiplication Table : {i}')
  for j in range(1,11):
    print(f'{i}x{j} = {i * j}')
  print('\t')

Multiplication Table : 2
2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18
2x10 = 20

In [ ]:
                          # Test Que.

for i in range(5,0,-1):   #The `range()` function specifies the start, stop, and step values for the iteration.
  print(i, end = ',')

5,4,3,2,1,

In [ ]:
z = 3
while z < 10:
  print (z)
  z *= 2    # - z *= 2 : Multiplies the value of `z` by 2, effectively doubling it.
            # The loop terminates when `z` becomes 12 because `12 < 10` evaluates to false, breaking the loop.

3
6

In [ ]:
z = 5           #infinite loop
while z > 0:
 print(z)

In [ ]:
b = 2
for i in range (b):
  print (i)

0
1

In [ ]:
y = 10
while y > 0:
  print (y,end = ",")
  y -= 2

10,8,6,4,2,

In [ ]:
d = 5
while d > 0:
  if d == 3:            # - `if d == 3:`: Checks if the value of `d` is equal to 3.
                        # If the condition evaluates to `True`, the code inside the `if` statement will be executed.
    d -= 1              # `d -= 1`: Decrements the value of `d` by 1.
    continue
  print(d)
  d -= 1

5
4
2
1

In [ ]:
x = 1
while x <= 5:
  print(x, end = "+")
  x += 1

1+2+3+4+5+

In [ ]:
x = 0
while x < 5:
  print(x)
  x += 1

0
1
2
3
4

In [ ]:
a = 2
b = 3
result = 1
while b > 0:
  result *= a
  b -= 1
print (result)

8

In [ ]:
i = 10
while i >= 0:
  if i % 2 ==0:
    i -= 1
    continue
  print(i)
  i -= 1

9
7
5
3
1

In [ ]:
string = "Python"         #  Assigns the string value "Python" to the variable string.
for char in string:
  print(char)

P
y
t
h
o
n

In [ ]:
for i in range (1,6,2):
  print(i)

1
3
5

In [ ]:
for i in range(4):         # The outer loop runs 4 times, assigning the values 0, 1, 2, and 3 to the loop variable `i`.
 for j in range(2):        # The inner loop runs 2 times, assigning the values 0 and 1 to the loop variable `i`.
  print(i, j, end=", ")    #This statement prints the values of the loop variable `i` twice, separated by a comma and a space.

0 0, 0 1, 1 0, 1 1, 2 0, 2 1, 3 0, 3 1,

In [ ]:
c = 7
while c > 0:
  print(c)
  if c==4:    #the condition `c == 4` evaluates to `True`, and the `break` statement is executed, terminating the loop immediately.
    break
  c -= 1

7
6
5
4

In [ ]:
text = "Hello world!"
for char in text:
  if char == "o":
    break
  print (char)

H
e
l
l